# Created by https://www.toptal.com/developers/gitignore/api/dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv

### dotenv ###
#Uncomment the below line before pushing to a public repository to protect your connection string
#.env

bin/

# End of https://www.toptal.com/developers/gitignore/api/dotenv
